
body {
  margin: 0;
  background-color: black;
  color: #c9d1d9;
  font-weight: 100;
}
h1, h2, h3, h4 {
  font-weight: 700;
}
.wrapper{
  padding: 2rem;
  width: 100%;
  margin: auto;
  background: black;
  color: white;
}
.header{
  width: 80%;
  margin: auto;
  border: 1px solid rgb(19, 18, 18);
  background-color: black;
  position: sticky; 
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-layout{
  background-color: black;
}
